<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.github.josephma93.aboutscreen" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>About screen</name>
    <js-module name="about_screen" src="www/about_screen.js">
        <clobbers target="cordova.plugins.about_screen" />
    </js-module>
</plugin>
